.example-card {
  width: 500px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
