.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-item {
    width: calc(100% / 4);
    text-align: center;
}
.img {
    width: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}
.inline-block {
    display: inline-block;
}

.btn {
    margin-right: 5px;
    color: #000;
}

.btn-poison {
    background-color: rgb(199, 33, 199);
}
.btn-flying {
    background-color: rgb(121, 207, 223);
}
.btn-ground {
    background-color: rgb(112, 53, 53);
}
.btn-fighting {
    background-color: rgb(204, 107, 17);
}
.btn-rock {
    background-color: rgb(97, 97, 97);
}
.btn-fairy {
    background-color: pink;
}
.btn-psychic {
    background-color: yellow;
}
.btn-ice {
    background-color: rgb(102, 210, 243);
}
