.pokemon-detail {
  position: relative;
}

.mat-dialog-actions {
  position: absolute;
  top: -30px;
  right: -10px;
}

.mat-icon {
  font-size: 20px;
}

button {
  border: none;
  outline: none;
  background: none;
  padding: 2px 3px;
}

.btn__close {
  background: red;
  border: 1px solid red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 35px;
  color: #fff;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn__close:hover {
  color: #000;
  background: #fff;
}

.inline-block {
  display: inline-block;
}

.right-margin {
  margin-right: 5px;
}

.btn {
  color: #000;
}

.btn-poison {
  background-color: rgb(199, 33, 199);
}
.btn-flying {
  background-color: rgb(121, 207, 223);
}
.btn-ground {
  background-color: rgb(112, 53, 53);
}
.btn-fighting {
  background-color: rgb(204, 107, 17);
}
.btn-rock {
  background-color: rgb(97, 97, 97);
}
.btn-fairy {
  background-color: pink;
}
.btn-psychic {
  background-color: yellow;
}
.btn-ice {
  background-color: rgb(102, 210, 243);
}

.base {
  display: flex;
  flex-wrap: wrap;
}

.base__item {
  width: calc(100% / 2 - 10px);
  margin: 10px 5px 0;
}

.base__item:first-child {
  text-align: right;
}

.base__item:last-child {
  text-align: left;
  font-weight: bold;
}

.button-close {
  cursor: pointer;
}
