<div class="pokemon-detail">
  <mat-dialog-actions>
    <div class="button-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </div>
  </mat-dialog-actions>
  <div mat-dialog-content align="center">
    <img [src]="data.img" alt="{{ data.name.english }}" />
    <h2>{{ data.name.english }}</h2>
    <div
      class="inline-block"
      *ngFor="let type of data.type; last as isLast"
      [class.right-margin]="!isLast"
    >
      <div
        class="btn"
        [ngClass]="{
          'btn-success': type === 'Grass',
          'btn-danger': type === 'Fire',
          'btn-primary': type === 'Water',
          'btn-poison': type === 'Poison',
          'btn-flying': type === 'Flying',
          'btn-dark': type === 'Ghost',
          'btn-warning': type === 'Electric',
          'btn-secondary': type === 'Bug',
          'btn-light': type === 'Normal',
          'btn-ground': type === 'Ground',
          'btn-fighting': type === 'Fighting',
          'btn-rock': type === 'Rock',
          'btn-fairy': type === 'Fairy',
          'btn-psychic': type === 'Psychic',
          'btn-ice': type === 'Ice'
        }"
      >
        {{ type }}
      </div>
    </div>
    <div class="base">
      <div class="base__item">
        <ul>
          <li>Attack</li>
          <li>Defense</li>
          <li>HP</li>
          <li>SpAttack</li>
          <li>SpDefense</li>
          <li>Speed</li>
        </ul>
      </div>
      <div class="base__item">
        <ul>
          <li>
            {{ data.base.Attack }}
          </li>
          <li>
            {{ data.base.Defense }}
          </li>
          <li>
            {{ data.base.HP }}
          </li>
          <li>
            {{ data.base.SpAttack }}
          </li>
          <li>
            {{ data.base.SpDefense }}
          </li>
          <li>
            {{ data.base.Speed }}
          </li>
        </ul>
      </div>
    </div>
    <button mat-icon-button (click)="clickLike()">
      <mat-icon>thumb_up_alt</mat-icon>
    </button>
    <button mat-icon-button (click)="clickDislike()">
      <mat-icon>thumb_down</mat-icon>
    </button>
  </div>
</div>
