<app-pokemon-search (search)="onSearch($event)"></app-pokemon-search>
<button mat-raised-button color="primary" [routerLink]="['/pokemons/add']">
  Add Pokemon
</button>
<div class="flex">
  <ng-container *ngIf="pokemons.length > 0; else notFound">
    <div class="flex-item" *ngFor="let list of pokemons">
      <div class="row">
        <div class="col-md-10">
          <div>
            <img [src]="list.img" alt="{{ list.name.english }}" />
            <h2>{{ list.name.english }}</h2>
            <div
              class="inline-block"
              *ngFor="let type of list.type; last as isLast"
              [class.right-margin]="!isLast"
            >
              <div
                class="btn"
                [ngClass]="{
                  'btn-success': type === 'grass',
                  'btn-danger': type === 'fire',
                  'btn-primary': type === 'water',
                  'btn-poison': type === 'poison',
                  'btn-flying': type === 'flying',
                  'btn-dark': type === 'ghost',
                  'btn-warning': type === 'electric',
                  'btn-secondary': type === 'bug',
                  'btn-light': type === 'normal',
                  'btn-ground': type === 'ground',
                  'btn-fighting': type === 'fighting',
                  'btn-rock': type === 'rock',
                  'btn-fairy': type === 'fairy',
                  'btn-psychic': type === 'psychic',
                  'btn-ice': type === 'ice'
                }"
              >
                {{ type }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button mat-icon-button [routerLink]="['/pokemons/detail', list.id]">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button [routerLink]="['/pokemons/edit', list.id]">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #notFound>
    <p style="text-align: center">Không tìm thấy Pokemon</p>
  </ng-template>
</div>
